@use "./scss/mixins";
@use "./scss/global" as g;
@use "./scss/media-queries" as q;
 
body {
	background-color: #aca3b4;
	min-height: 100vh;
	@include mixins.flex(column, flex-start, flex-start, 0); 
	overflow: visible;
}

h1, h2, h3 {
	overflow: hidden;
}

header {
	background-color: g.$color-white;
  	position: sticky;
	top: 0;
	z-index: 999; 
}

footer { 
	background-color: g.$color-light-green; 
}
 
header, footer {
	width: 100%;
	height: 6.5rem; 
	
	@include q.tablet { 
		height: 4.75rem; 
	}

	@include q.phone { 
		height: 3rem; 
	}

	@include mixins.header_padding();
	@include mixins.flex(row, space-between, center, 0);

	a, b {
		@include mixins.flex(row, center, center, 1rem);

		p {
			color: g.$color-white;
			@include mixins.header_font_size();
		} 
	}

	img {
		@include mixins.header_image_size();
	}

	nav {
		@include mixins.flex(row, center, center, 0); 
		
		gap: 3rem;
		@include q.phone { 
			gap: 2rem;
		}

		@include q.phone { 
			gap: 1rem;
		}
		
		a, b {  
			font-weight: 700;
			@include mixins.header_font_size(); 
		}

		b {
			color: g.$color-light-grey;
		}
	}
}
 
main {
	width: 100%;
	flex-grow: 1; 
	@include mixins.flex(column, stretch, stretch, 0);
}

.hero {
	background-color: g.$color-green;  
	@include mixins.flex(row, stretch, stretch, 0);
	height: 46rem;

	@include q.tablet { 
		height: 40rem;
	}

	@include q.phone { 
		flex-direction: column;
		height: 34rem;
	}

	@include q.micro { 
		flex-direction: column;
		height: 46rem;
	}
	
	&__left {
		@include mixins.hero_side();
		@include mixins.flex(column, center, flex-start, 0); 

		hgroup {
			@include mixins.hero_margin();
			@include mixins.flex(column, flex-start, flex-start, 0); 
			
			a {
				@include mixins.coffee_border(g.$color-white); 
				background-color: transparent;
				color: g.$color-white;
				overflow: hidden;

				@include mixins.subheading(1.75rem);
				padding: 0.75rem 2.75rem;
				margin-top: var(--standard-gap);
					
				@include q.tablet { 
					@include mixins.subheading(1.25rem);
					padding: 0.5rem 2.25rem;
					margin-top: calc(var(--standard-gap) - 0.5rem);
				}
			
				@include q.phone { 
					@include mixins.subheading(1rem);
					padding: 0.25rem 1.75rem;
					margin-top: calc(var(--standard-gap) - 0.5rem);  
					align-self: center;
				}


				&:hover {
					@include mixins.coffee_border(g.$color-grey); 
					color: g.$color-grey; 
				}
			}
		}
	}
 	 
	&__right {
		@include mixins.hero_side();

		img {
			@include mixins.img_cover();
		}
	}
}

.menu { 
	background-color: g.$color-white; 
	@include mixins.section_padding();
	@include mixins.flex(column, flex-start, center, var(--standard-gap));

	details {
		@include mixins.page_width();
		height: 4.5rem;
		
		@include q.tablet { 
			height: 4rem;
		}
		
		@include q.phone { 
			height: 3rem;
		}

		summary { 
			background-color: g.$color-light-peach;
			color: g.$color-grey;

			@include mixins.subheading(1.75rem);
 			padding: 1rem 2rem 1rem 3rem;
			
			@include q.tablet { 
			    @include mixins.subheading(1.5rem);
 				padding: 0.75rem 1.5rem 0.75rem 2rem;
			}
		
			@include q.phone { 
			    @include mixins.subheading(1.25rem);
 				padding: 0.5rem 1rem 0.5rem 1rem;
			}
		}
	}

	details[open] {   
		height: auto; 
	}

	&__container {
		margin-top: var(--standard-gap);   
		display: flex;
		flex-wrap: wrap;
		@include mixins.flex(row, space-between, stretch, var(--standard-gap));  
	}

	&__card {
		background-color: g.$color-light-peach; 
		@include mixins.flex(column, flex-start, center, max(0.5rem, 1.5vw)); 
		padding: calc(var(--standard-gap) / 9 * 6); /* 1.5rem for desktop */

		max-width: calc(33.33% - var(--standard-gap) / 1.5); 

		@include q.phone { 
			max-width: calc(50% - var(--standard-gap) / 1.5); 
		}
				
		&-image-container {
			width: 100%;
			aspect-ratio: 1 / 1; 
			overflow: hidden;
			
			img {
				@include mixins.img_cover();
			}
		}

		h2 {
			user-select: text;
			text-align: center;
			color: g.$color-grey;
			@include mixins.subheading(max(0.5rem, 1.5vw));		
			
			@include q.phone { 
				@include mixins.subheading(max(0.5rem, 3vw));		
			}			
		}

	}

	&__tag-container {
		@include mixins.flex(column, center, center, 0); 
		flex-wrap: wrap;
		flex-grow: 1;
		align-items: center;

		gap: 0.25rem max(0.5rem, 2vw);

		@include q.tablet {
			gap: 0.25rem 1rem;
		}
		
		@include q.phone { 
			gap: 0.25rem 1rem;
		}
	}

	&__tag {
		@include mixins.flex(row, flex-start, center, 0.5rem); 
		
		img {
			width: max(0.5rem, 2vw);
			height: max(0.5rem, 2vw);
			@include q.phone { 
				width: max(0.5rem, 3vw);
				height: max(0.5rem, 3vw);	
			}
		}

		p {  
			font-size: max(0.5rem, 1.5vw);
			@include q.phone { 
				font-size: max(0.5rem, 3vw);	
			}
		}

		/*img {
			width: 1.75rem;
			height: 1.75rem;
		}

		p {  
			font-size: 1rem;
		}*/
	}
}

.reviews {
	background-color: g.$color-peach;	
	@include mixins.section_padding();
	@include mixins.flex(column, flex-start, center, var(--standard-gap)); 

	&__card-container 
	{ 
		@include mixins.page_width();
		@include mixins.flex(row, center, stretch, var(--standard-gap)); 
		flex-wrap: wrap;
	}

	&__card
	{ 
		@include mixins.coffee_border(g.$color-white);
		@include mixins.flex(column, space-between, space-between, 0); 

		width: calc(50% - 0.5 * var(--standard-gap));
		padding: 1.5rem 2rem; 

		@include q.tablet { 
			width: 100%;
			padding: 1rem 1.5rem; 
		}
		
		@include q.phone { 
			width: 100%;
			padding: 0.5rem 1rem; 
		}

		&-top
		{
			@include mixins.flex(row, flex-start, flex-start, 1rem); 
			padding-bottom: 1rem;
			
			@include q.phone { 
				gap: 0.25rem;
			}

			img {
				flex: 0 0 auto;
				
				width: 2.5rem;
				height: 2.5rem;

				@include q.tablet { 
					width: 2rem;
					height: 2rem;
				}
				
				@include q.phone {  
					width: 1.5rem;
					height: 1.5rem;
				}

				&:nth-child(3) {
					align-self: flex-end;
				}				
			}

			p {
				text-align: center;
  				font-style: italic;
				@include mixins.subheading(1.5rem);

				@include q.tablet { 
					@include mixins.subheading(1.25rem);
				}
				
				@include q.phone { 
					@include mixins.subheading(1rem);
				}
			}
		}

		&-bottom
		{
			@include mixins.flex(row, space-between, flex-start, 0);
			font-size: 1.25rem;
			@include q.tablet { 
				font-size: 1rem;
			}
				
			@include q.phone { 
				font-size: 0.75rem;
			}
		}
	}
}

.contact { 
	@include mixins.flex(column, flex-start, center, var(--standard-gap)); 
	@include mixins.section_padding();
	background-color: g.$color-peach;  
	flex-grow: 1;

	p { 
		padding: 0 2rem;
		align-self: center;
	}
	
	form {
		@include mixins.page_width(40rem);
		@include mixins.flex(column, flex-start, stretch, 0.5rem); 
		overflow: visible;

		div { 
			@include mixins.flex(row, flex-start, stretch, 1rem); 
			overflow: visible;

			p {
				width: 10rem;
				height: 2rem;
			}
		}

		label {
			@include mixins.subheading(1rem);
			display: block; 
			text-align: end; 
			align-content: center;
			min-width: 8rem; 
		}

		input, select, textarea {
			flex-grow: 1;
			padding: 0.25rem;
			font-size: 1rem; 
			
			background-color: g.$color-white;
			border: 1px solid g.$color-white;

			&::placeholder
			{
				color: g.$color-light-grey;
			}
		}
		
		input[type=submit] {  
			min-width: calc(100% - 9rem); /* 8rem for min-width and 1rem for gap */
			@include mixins.coffee_border(g.$color-white); 
			background-color: transparent;
			color: g.$color-white;
			overflow: hidden;

			@include mixins.subheading(1.25rem);
			padding: 0.75rem 2.75rem;
			margin-top: 0.25rem;
			
			&:hover {
				background-color: g.$color-light-peach;
			}
		}
 
		textarea {
			resize: none;
			height: 10rem;
		}
	}

	&__disabled-select {
		color: g.$color-light-grey;
	}

	&__return {
		@include mixins.coffee_border(g.$color-white);
		color: g.$color-white;
		@include mixins.subheading(1.25rem); 
		padding: 1rem 6rem;

		&:hover {
			background-color: g.$color-light-peach;
		}
	}
}

.about { 
	@include mixins.flex(column, flex-start, center, var(--standard-gap)); 
	@include mixins.section_padding();
	background-color: g.$color-peach;
	flex-grow: 1;
	
	p {
		padding-bottom: 1rem;
		@include mixins.subheading(1.25rem);
		
		@include q.tablet { 
			@include mixins.subheading(1rem);
		}

		@include q.phone { 
			@include mixins.subheading(0.75rem);
		}
	}

	img { 
		flex: 0 0 auto;
		width: 230px;
		
		@include q.tablet { 
			width: 170px;
		}

		@include q.phone { 
			width: 110px;
		}
	}
 
	&__horizontal {
		@include mixins.flex(row, flex-start, center, var(--standard-gap)); 
		@include mixins.about_width(); 

		align-items: start;
	}
}

.main {
	&__heading { 
		font-family: "Rammetto One", sans-serif;
		font-weight: 400;
		font-style: normal;
		font-optical-sizing: auto; 
		
		
		font-size: 4rem;
		@include q.tablet { 
			font-size: 3rem;
		}

		@include q.phone { 
			font-size: 2rem;
			text-align: center;
		}


		&--color
		{
			&-white {
				color: g.$color-white;
			}

			&-peach {
				color: g.$color-peach;
			}
		}
	}

	&__subheading
	{ 
		font-family: "Open Sans", sans-serif;
		font-optical-sizing: auto;
		font-weight: 400;
				
		font-size: 1.75rem;
		@include q.tablet { 
			font-size: 1.5rem;
		}

		@include q.phone { 
			font-size: 1.25rem;
			text-align: center;
			width: 100%;
		}

		&--color
		{
			&-white {
				color: g.$color-white;
			}

			&-peach {
				color: g.$color-peach;
			}
		}
	}
}

.image__flipped
{
    transform: scale(-1, 1); /* Flip SVG horizontally */
}