@use "./scss/mixins";
@use "./scss/global" as g;
@use "./scss/media-queries" as q;
 
body {
	background-color: #aca3b4;
	min-height: 100vh;
	@include mixins.flex(column, flex-start, flex-start, 0); 
}
 
header {
	background-color: g.$color-white; 
}

main {
	width: 100%;
	flex-grow: 1; 
	@include mixins.flex(column, stretch, stretch, 0); 
}

footer { 
	background-color: g.$color-light-green; 
}
 
header, footer {
	width: 100vw;
	height: 6.5rem;

	padding: 0 g.$page-edge;
	@include mixins.flex(row, space-between, center, 0); 

	a, b {
		@include mixins.flex(row, center, center, 1rem); 

		p {
			color: g.$color-white;
			font-size: 1.25rem;
		} 
	}

	img {
		width: 4rem;
		height: 4rem;
	}

	nav {
		@include mixins.flex(row, center, center, 4rem); 
		
		a, b { 
			border: 1px red solid;
			width: 6rem;
			@include mixins.subheading(1.25rem);
		}

		b {
			color: g.$color-light-grey;
		}
	}
}
 
.hero {
	@include mixins.flex(row, stretch, stretch, 0);
	background-color: g.$color-green;
	max-height: 46rem; 
	
	&__left {
		flex: 1 1 0px;
		@include mixins.flex(column, center, flex-start, 0); 

		hgroup {
			margin: 5% 12.5% 5% calc(g.$page-edge * 2); 
			@include mixins.flex(column, flex-start, flex-start, 0); 
			
			a {
				@include mixins.coffee_border(g.$color-white); 
				background-color: transparent;
				color: g.$color-white;
				padding: 0.75rem 2.75rem;
				margin-top: g.$standard-gap;

				@include mixins.subheading(1.75rem);

				&:hover {
					@include mixins.coffee_border(g.$color-grey); 
					color: g.$color-grey; 
				}
			}
		}
	}
 	 
	&__right {
		flex: 1 1 0px; 

		img {
			width: 100%;
			height: 100%;
			object-fit: cover; 
		}
	}
}

.menu { 
	background-color: g.$color-white; 
	padding: 6rem 0; 
	@include mixins.flex(column, flex-start, center, g.$standard-gap); 

	details {
		height: 4.5rem;
		width: g.$page-width;
		
		summary { 
 			padding: 1rem 2rem 1rem 3rem;
			background-color: g.$color-light-peach;
			color: g.$color-grey;
			@include mixins.subheading(1.75rem); 
		}
	}

	details[open] {   
		height: auto; 
	}

	&__container {
		margin-top: g.$standard-gap;   
		display: flex;
		flex-wrap: wrap;
		@include mixins.flex(row, space-between, flex-start, g.$standard-gap);  
	}

	&__card {
		width: calc(33.33% - g.$standard-gap);
		aspect-ratio: 4 / 5;

		background-color: g.$color-light-peach; 

		@include mixins.flex(column, flex-start, center, 1.25rem); 
		padding: 1.5rem;

		img {
			width: 100%;
		}

		h2 {
			user-select: text;
			color: g.$color-grey;
			@include mixins.subheading(1.75rem);
		}
	}

	&__tag-container {
		@include mixins.flex(row, flex-start, center, 2rem); 
	}

	&__tag {
		@include mixins.flex(row, flex-start, center, 0.5rem); 
		
		img {
			width: 1.75rem;
			height: 1.75rem;
		}

		p { 
			font-size: 1rem;
		}
	}
}

.reviews {
	background-color: g.$color-peach;	
	padding: 6rem 0; 
	@include mixins.flex(column, flex-start, center, g.$standard-gap); 

	&__card-container 
	{ 
		width: g.$page-width;
		@include mixins.flex(row, center, stretch, g.$standard-gap); 
		flex-wrap: wrap;
	}

	&__card
	{ 
		width: calc(50% - 0.5 * g.$standard-gap);
		@include mixins.coffee_border(g.$color-white);
		padding: 1.5rem 2rem; 
		@include mixins.flex(column, space-between, space-between, 0);

		&-top
		{
			@include mixins.flex(row, flex-start, flex-start, 1rem); 
			padding-bottom: 1rem;
			
			img {
				width: 2.5rem;
				height: 2.5rem;
				
				&:nth-child(3) {
					align-self: flex-end;
				}
			}

			p {
				text-align: center;
  				font-style: italic;
				@include mixins.subheading(1.5rem);
			}
		}

		&-bottom
		{
			@include mixins.flex(row, space-between, flex-start, 0);
			font-size: 1.25rem;
		}
	}
}

.contact { 
	@include mixins.flex(column, flex-start, center, g.$standard-gap); 
	padding: 6rem 0;
	background-color: g.$color-peach;  
	flex-grow: 1;
	
	form {
		width: min(g.$page-width, 40rem);
		@include mixins.flex(column, flex-start, stretch, 0.5rem); 

		div { 
			@include mixins.flex(row, flex-start, stretch, 1rem); 

			p {
				width: 10rem;
				height: 2rem;
			}
		}

		label {
			@include mixins.subheading(1rem);
			display: block; 
			text-align: end; 
			align-content: center;
			width: 10rem; 
		}

		input, select, textarea {
			flex-grow: 1;
			padding: 0.25rem;
			font-size: 1rem;
			
			background-color: g.$color-white;
			/*@include mixins.coffee_border(g.$color-grey);*/
			border: 1px solid g.$color-white;

			&::placeholder
			{
				color: g.$color-light-grey;
			}
		}



		input[type=submit] {
			border: 0;
			&:hover {
				background-color: g.$color-light-peach;

			}
		}
 
		textarea {
			resize: none;
			height: 10rem;
		}
	}

	&__disabled-select {
		color: g.$color-light-grey;
	}

	&__return {
		color: g.$color-white;
		@include mixins.coffee_border(g.$color-white);
		@include mixins.subheading(1.25rem); 
		padding: 1rem 6rem;

		&:hover {
			color: g.$color-light-peach;
			@include mixins.coffee_border(g.$color-light-peach);
		}
	}
}

.main {
	&__heading {
		font-family: "Rammetto One", sans-serif;
		font-weight: 400;
		font-style: normal;
		font-size: 4rem;
		font-optical-sizing: auto; 

		&--color
		{
			&-white {
				color: g.$color-white;
			}

			&-peach {
				color: g.$color-peach;
			}
		}
	}

	&__subheading
	{
		font-family: "Open Sans", sans-serif;
		font-optical-sizing: auto;
		font-weight: 400;
		font-size: 1.75rem;

		&--color
		{
			&-white {
				color: g.$color-white;
			}

			&-peach {
				color: g.$color-peach;
			}
		}
	}
}

.image__flipped
{
    transform: scale(-1, 1); /* Flip SVG horizontally */
}