* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  color: #404040;
  user-select: none;
  text-decoration: none;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

p, a {
  user-select: text;
}

:root {
  --standard-gap: 2.25rem;
}
@media screen and (min-width: 577px) and (max-width: 992px) {
  :root {
    --standard-gap: 1.5rem;
  }
}
@media screen and (max-width: 576px) {
  :root {
    --standard-gap: 1rem;
  }
}
@media screen and (max-width: 302px) {
  :root {
    --standard-gap: 0.75rem;
  }
}

.hero {
  background-color: #689572;
  display: flex;
  flex-direction: row;
  justify-content: stretch;
  align-items: stretch;
  gap: 0;
  height: 46rem;
}
@media screen and (min-width: 577px) and (max-width: 992px) {
  .hero {
    height: 40rem;
  }
}
@media screen and (max-width: 576px) {
  .hero {
    flex-direction: column;
    height: 34rem;
  }
}
@media screen and (max-width: 302px) {
  .hero {
    flex-direction: column;
    height: 46rem;
  }
}
.hero__left {
  flex: 1 1 0px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 0;
}
.hero__left hgroup {
  margin: 5% 20% 5% 20%;
}
@media screen and (min-width: 577px) and (max-width: 992px) {
  .hero__left hgroup {
    margin: 5% 15% 5% 15%;
  }
}
@media screen and (max-width: 576px) {
  .hero__left hgroup {
    margin: 5% 10% 5% 10%;
  }
}
.hero__left hgroup {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 0;
}
.hero__left hgroup a {
  border: 3px solid #FFFFFF;
  background-color: transparent;
  color: #FFFFFF;
  overflow: hidden;
  font-size: 1.75rem;
  font-weight: 700;
  padding: 0.75rem 2.75rem;
  margin-top: var(--standard-gap);
}
@media screen and (min-width: 577px) and (max-width: 992px) {
  .hero__left hgroup a {
    font-size: 1.25rem;
    font-weight: 700;
    padding: 0.5rem 2.25rem;
    margin-top: calc(var(--standard-gap) - 0.5rem);
  }
}
@media screen and (max-width: 576px) {
  .hero__left hgroup a {
    font-size: 1rem;
    font-weight: 700;
    padding: 0.25rem 1.75rem;
    margin-top: calc(var(--standard-gap) - 0.5rem);
    align-self: center;
  }
}
.hero__left hgroup a:hover {
  border: 3px solid #404040;
  color: #404040;
}
.hero__right {
  flex: 1 1 0px;
  overflow: hidden;
}
.hero__right img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.menu {
  background-color: #FFFFFF;
  padding: 6rem 0;
}
@media screen and (min-width: 577px) and (max-width: 992px) {
  .menu {
    padding: 4.5rem 0;
  }
}
@media screen and (max-width: 576px) {
  .menu {
    padding: 3rem 0;
  }
}
@media screen and (max-width: 302px) {
  .menu {
    padding: 2rem 0;
  }
}
.menu {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: var(--standard-gap);
}
.menu details {
  width: min(80%, 1000vw);
}
@media screen and (min-width: 577px) and (max-width: 992px) {
  .menu details {
    width: min(85%, 1000vw);
  }
}
@media screen and (max-width: 576px) {
  .menu details {
    width: min(90%, 1000vw);
  }
}
.menu details {
  height: 4.5rem;
}
@media screen and (min-width: 577px) and (max-width: 992px) {
  .menu details {
    height: 4rem;
  }
}
@media screen and (max-width: 576px) {
  .menu details {
    height: 3rem;
  }
}
.menu details summary {
  background-color: #EBC9C4;
  color: #404040;
  font-size: 1.75rem;
  font-weight: 700;
  padding: 1rem 2rem 1rem 3rem;
}
@media screen and (min-width: 577px) and (max-width: 992px) {
  .menu details summary {
    font-size: 1.5rem;
    font-weight: 700;
    padding: 0.75rem 1.5rem 0.75rem 2rem;
  }
}
@media screen and (max-width: 576px) {
  .menu details summary {
    font-size: 1.25rem;
    font-weight: 700;
    padding: 0.5rem 1rem 0.5rem 1rem;
  }
}
.menu details[open] {
  height: auto;
}
.menu__container {
  margin-top: var(--standard-gap);
  display: flex;
  flex-wrap: wrap;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: stretch;
  gap: var(--standard-gap);
}
.menu__card {
  background-color: #EBC9C4;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 1.5vw;
  padding: calc(var(--standard-gap) / 9 * 6); /* 1.5rem for desktop */
  max-width: calc(33.33% - var(--standard-gap) / 1.5);
}
@media screen and (max-width: 576px) {
  .menu__card {
    max-width: calc(50% - var(--standard-gap) / 1.5);
    gap: 3vw;
  }
}
.menu__card-image-container {
  width: 100%;
  aspect-ratio: 1/1;
  overflow: hidden;
}
.menu__card-image-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.menu__card h2 {
  user-select: text;
  text-align: center;
  color: #404040;
  font-size: max(0.5rem, 1.5vw);
  font-weight: 700;
}
@media screen and (max-width: 576px) {
  .menu__card h2 {
    font-size: max(0.5rem, 3vw);
    font-weight: 700;
  }
}
.menu__tag-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0;
  flex-wrap: wrap;
  flex-grow: 1;
  align-items: center;
  gap: 0.25rem max(0.5rem, 2vw);
}
@media screen and (min-width: 577px) and (max-width: 992px) {
  .menu__tag-container {
    gap: 0.25rem 1rem;
  }
}
@media screen and (max-width: 576px) {
  .menu__tag-container {
    gap: 0.25rem 1rem;
  }
}
.menu__tag {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 0.5rem;
}
.menu__tag img {
  width: max(0.5rem, 2vw);
  height: max(0.5rem, 2vw);
}
@media screen and (max-width: 576px) {
  .menu__tag img {
    width: max(0.5rem, 3vw);
    height: max(0.5rem, 3vw);
  }
}
.menu__tag p {
  font-size: max(0.5rem, 1.5vw);
}
@media screen and (max-width: 576px) {
  .menu__tag p {
    font-size: max(0.5rem, 3vw);
  }
}

.reviews {
  background-color: #FAA196;
  padding: 6rem 0;
}
@media screen and (min-width: 577px) and (max-width: 992px) {
  .reviews {
    padding: 4.5rem 0;
  }
}
@media screen and (max-width: 576px) {
  .reviews {
    padding: 3rem 0;
  }
}
@media screen and (max-width: 302px) {
  .reviews {
    padding: 2rem 0;
  }
}
.reviews {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: var(--standard-gap);
}
.reviews__card-container {
  width: min(80%, 1000vw);
}
@media screen and (min-width: 577px) and (max-width: 992px) {
  .reviews__card-container {
    width: min(85%, 1000vw);
  }
}
@media screen and (max-width: 576px) {
  .reviews__card-container {
    width: min(90%, 1000vw);
  }
}
.reviews__card-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: stretch;
  gap: var(--standard-gap);
  flex-wrap: wrap;
}
.reviews__card {
  border: 3px solid #FFFFFF;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: space-between;
  gap: 0;
  width: calc(50% - 0.5 * var(--standard-gap));
  padding: 1.5rem 2rem;
}
@media screen and (min-width: 577px) and (max-width: 992px) {
  .reviews__card {
    width: 100%;
    padding: 1rem 1.5rem;
  }
}
@media screen and (max-width: 576px) {
  .reviews__card {
    width: 100%;
    padding: 0.5rem 1rem;
  }
}
.reviews__card-top {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 1rem;
  padding-bottom: 1rem;
}
@media screen and (max-width: 576px) {
  .reviews__card-top {
    gap: 0.25rem;
  }
}
.reviews__card-top img {
  flex: 0 0 auto;
  width: 2.5rem;
  height: 2.5rem;
}
@media screen and (min-width: 577px) and (max-width: 992px) {
  .reviews__card-top img {
    width: 2rem;
    height: 2rem;
  }
}
@media screen and (max-width: 576px) {
  .reviews__card-top img {
    width: 1.5rem;
    height: 1.5rem;
  }
}
.reviews__card-top img:nth-child(3) {
  align-self: flex-end;
}
.reviews__card-top p {
  text-align: center;
  font-style: italic;
  font-size: 1.5rem;
  font-weight: 700;
}
@media screen and (min-width: 577px) and (max-width: 992px) {
  .reviews__card-top p {
    font-size: 1.25rem;
    font-weight: 700;
  }
}
@media screen and (max-width: 576px) {
  .reviews__card-top p {
    font-size: 1rem;
    font-weight: 700;
  }
}
.reviews__card-bottom {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  gap: 0;
  font-size: 1.25rem;
}
@media screen and (min-width: 577px) and (max-width: 992px) {
  .reviews__card-bottom {
    font-size: 1rem;
  }
}
@media screen and (max-width: 576px) {
  .reviews__card-bottom {
    font-size: 0.75rem;
  }
}

.contact {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: var(--standard-gap);
  padding: 6rem 0;
}
@media screen and (min-width: 577px) and (max-width: 992px) {
  .contact {
    padding: 4.5rem 0;
  }
}
@media screen and (max-width: 576px) {
  .contact {
    padding: 3rem 0;
  }
}
@media screen and (max-width: 302px) {
  .contact {
    padding: 2rem 0;
  }
}
.contact {
  background-color: #FAA196;
  flex-grow: 1;
}
.contact p {
  padding: 0 2rem;
  align-self: center;
}
.contact form {
  width: min(80%, 40rem);
}
@media screen and (min-width: 577px) and (max-width: 992px) {
  .contact form {
    width: min(85%, 40rem);
  }
}
@media screen and (max-width: 576px) {
  .contact form {
    width: min(90%, 40rem);
  }
}
.contact form {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  gap: 0.5rem;
  overflow: visible;
}
.contact form div {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: stretch;
  gap: 1rem;
  overflow: visible;
}
.contact form div p {
  width: 10rem;
  height: 2rem;
}
.contact form label {
  font-size: 1rem;
  font-weight: 700;
  display: block;
  text-align: end;
  align-content: center;
  min-width: 8rem;
}
.contact form input, .contact form select, .contact form textarea {
  flex-grow: 1;
  padding: 0.25rem;
  font-size: 1rem;
  background-color: #FFFFFF;
  border: 1px solid #FFFFFF;
}
.contact form input::placeholder, .contact form select::placeholder, .contact form textarea::placeholder {
  color: #b3b3b3;
}
.contact form input[type=submit] {
  min-width: calc(100% - 9rem); /* 8rem for min-width and 1rem for gap */
  border: 3px solid #FFFFFF;
  background-color: transparent;
  color: #FFFFFF;
  overflow: hidden;
  font-size: 1.25rem;
  font-weight: 700;
  padding: 0.75rem 2.75rem;
  margin-top: 0.25rem;
}
.contact form input[type=submit]:hover {
  background-color: #EBC9C4;
}
.contact form textarea {
  resize: none;
  height: 10rem;
}
.contact__disabled-select {
  color: #b3b3b3;
}
.contact__return {
  border: 3px solid #FFFFFF;
  color: #FFFFFF;
  font-size: 1.25rem;
  font-weight: 700;
  padding: 1rem 6rem;
}
.contact__return:hover {
  background-color: #EBC9C4;
}

.about {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: var(--standard-gap);
  padding: 6rem 0;
}
@media screen and (min-width: 577px) and (max-width: 992px) {
  .about {
    padding: 4.5rem 0;
  }
}
@media screen and (max-width: 576px) {
  .about {
    padding: 3rem 0;
  }
}
@media screen and (max-width: 302px) {
  .about {
    padding: 2rem 0;
  }
}
.about {
  background-color: #FAA196;
  flex-grow: 1;
}
.about p {
  padding-bottom: 1rem;
  font-size: 1.25rem;
  font-weight: 700;
}
@media screen and (min-width: 577px) and (max-width: 992px) {
  .about p {
    font-size: 1rem;
    font-weight: 700;
  }
}
@media screen and (max-width: 576px) {
  .about p {
    font-size: 0.75rem;
    font-weight: 700;
  }
}
.about img {
  flex: 0 0 auto;
  width: 230px;
}
@media screen and (min-width: 577px) and (max-width: 992px) {
  .about img {
    width: 170px;
  }
}
@media screen and (max-width: 576px) {
  .about img {
    width: 110px;
  }
}
.about__horizontal {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: var(--standard-gap);
  width: 800px;
}
@media screen and (min-width: 577px) and (max-width: 992px) {
  .about__horizontal {
    width: 500px;
  }
}
@media screen and (max-width: 576px) {
  .about__horizontal {
    width: 250px;
  }
}
.about__horizontal {
  align-items: start;
}

.main__heading {
  font-family: "Rammetto One", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-optical-sizing: auto;
  font-size: 4rem;
}
@media screen and (min-width: 577px) and (max-width: 992px) {
  .main__heading {
    font-size: 3rem;
  }
}
@media screen and (max-width: 576px) {
  .main__heading {
    font-size: 2rem;
    text-align: center;
  }
}
.main__heading--color-white {
  color: #FFFFFF;
}
.main__heading--color-peach {
  color: #FAA196;
}
.main__subheading {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-size: 1.75rem;
}
@media screen and (min-width: 577px) and (max-width: 992px) {
  .main__subheading {
    font-size: 1.5rem;
  }
}
@media screen and (max-width: 576px) {
  .main__subheading {
    font-size: 1.25rem;
    text-align: center;
    width: 100%;
  }
}
.main__subheading--color-white {
  color: #FFFFFF;
}
.main__subheading--color-peach {
  color: #FAA196;
}

body {
  background-color: #aca3b4;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 0;
  overflow: visible;
}

h1, h2, h3 {
  overflow: hidden;
}

header {
  background-color: #FFFFFF;
  position: sticky;
  top: 0;
  z-index: 999;
}

footer {
  background-color: #82A289;
}

header, footer {
  width: 100%;
  height: 6.5rem;
}
@media screen and (min-width: 577px) and (max-width: 992px) {
  header, footer {
    height: 4.75rem;
  }
}
@media screen and (max-width: 576px) {
  header, footer {
    height: 3rem;
  }
}
header, footer {
  padding: 0 10%;
}
@media screen and (min-width: 577px) and (max-width: 992px) {
  header, footer {
    padding: 0 7.5%;
  }
}
@media screen and (max-width: 576px) {
  header, footer {
    padding: 0 5%;
  }
}
header, footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 0;
}
header a, header b, footer a, footer b {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}
header a p, header b p, footer a p, footer b p {
  color: #FFFFFF;
  font-size: 1.25rem;
}
@media screen and (min-width: 577px) and (max-width: 992px) {
  header a p, header b p, footer a p, footer b p {
    font-size: 1rem;
  }
}
@media screen and (max-width: 576px) {
  header a p, header b p, footer a p, footer b p {
    font-size: 0.75rem;
  }
}
header img, footer img {
  width: 4rem;
  height: 4rem;
}
@media screen and (min-width: 577px) and (max-width: 992px) {
  header img, footer img {
    width: 3rem;
    height: 3rem;
  }
}
@media screen and (max-width: 576px) {
  header img, footer img {
    width: 2rem;
    height: 2rem;
  }
}
header nav, footer nav {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 0;
  gap: 3rem;
}
@media screen and (max-width: 576px) {
  header nav, footer nav {
    gap: 2rem;
  }
}
@media screen and (max-width: 576px) {
  header nav, footer nav {
    gap: 1rem;
  }
}
header nav a, header nav b, footer nav a, footer nav b {
  font-weight: 700;
  font-size: 1.25rem;
}
@media screen and (min-width: 577px) and (max-width: 992px) {
  header nav a, header nav b, footer nav a, footer nav b {
    font-size: 1rem;
  }
}
@media screen and (max-width: 576px) {
  header nav a, header nav b, footer nav a, footer nav b {
    font-size: 0.75rem;
  }
}
header nav b, footer nav b {
  color: #b3b3b3;
}

main {
  width: 100%;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: stretch;
  align-items: stretch;
  gap: 0;
}

.image__flipped {
  transform: scale(-1, 1); /* Flip SVG horizontally */
}

/*# sourceMappingURL=style.css.map */
