@use "./scss/variables" as var;
@use "./scss/global";
@use "./scss/mixins";
 
html {
	background-color: var.$background-black;
}

body {
	font-family: "Consolas";
	color: white;
	background-color: var.$background-dark;

	padding: 0 60px;
	margin: 0 20%;
	height: 100vh; 
  
	@include mixins.flex(column, flex-start, flex-start);
	gap: 20px;
}

header {
	padding-top: 40px;
}

main { 
	border: 1px white dashed;
	flex-grow: 1; 
}

ol {
	margin-left: 50px;
}

a { 
	color: white;
	&:visited {
		color: white;
	}
	&:hover {
		color: lightblue;
	}
	&:active {
		color: cadetblue;
	}
}
 
.pokemon {
  width: 100px;
  height: 100px;
  background-color: yellow;
  color: black;
  @include mixins.flex();
}