@mixin flex($direction: row, $justify: center, $align: center) {
    display: flex;
    flex-direction: $direction;
    justify-content: $justify;
    align-items: $align;
}

@mixin flag-div($color1, $color2, $color3) {
	&:nth-child(1) {
		background-color: $color1;
	}
	&:nth-child(2) {
		background-color: $color2;
	}
	&:nth-child(3) {
		background-color: $color3;
	}
}