$flag-irish-green: #169B62; 
$flag-irish-white: #FFFFFF;
$flag-irish-orange: #FF883E;

$flag-belgium-black: #000000; 
$flag-belgium-yellow: #FDDA24;
$flag-belgium-red: #EF3340;

$flag-germany-black: #000000; 
$flag-germany-red: #FF0000;
$flag-germany-orange: #FFCC00; 