$color-peach: #FAA196; 
$color-light-peach: #EBC9C4; 
$color-green: #689572;
$color-light-green: #82A289;
$color-grey: #404040;
$color-light-grey: #b3b3b3;
$color-white: #FFFFFF;

@use "./media-queries" as q;
 
* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;

	font-family: "Open Sans", sans-serif;
	font-optical-sizing: auto;
	font-weight: 400;
	font-style: normal;
	color: $color-grey; 
	
	user-select: none;
	text-decoration: none;
		
	overflow-x: hidden;
}

p, a { 
	user-select: text;
}

:root {
	--standard-gap: 2.25rem;
  
	@include q.tablet {
		--standard-gap: 1.5rem;
	}
	@include q.phone { 
		--standard-gap: 1rem;
	}
	@include q.micro { 
		--standard-gap: 0.75rem;
	}
} 