$body-background-blue: #d8eef5; 
$card-background-white: #feffff;

$overdue-red: #993535; 
$overdue-background-red: #fbdede; 

$pending-blue: #2a5c81; 
$pending-background-blue: #c6dde5; 

$completed-green: #2d6b2d; 
$completed-background-green: #c9e1cb; 

$text-grey: #555555; 
$shadow: lightblue;